nav {
    display: flex;
    flex-direction: column;
}

.navbar1 {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;
}

.left-menu {
    display: flex;
    width: 60%;
}


.right-menu {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 35%;
}

.right-icon {
    width: 10%;
    align-items: end;
}

.right-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    padding: 5px 10px;
    margin-left: 20px;
    font-size: 2rem;
}


.right-icon li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 2.5rem;
    position: fixed;
    right: 3vmax;
    top: 1.2vmax;
}

/* .navbar2 {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 10px;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 99;
} */

.logo {
    font-weight: 600;
    font-size: 3rem;
    color: tomato;
}

.logo font {
    color: #fff;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;

}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    padding: 5px 10px;
    margin-left: 20px;
    font-size: 1.5rem;
}

.menu-list li:last-child a {
    font-weight: 300;
    padding: 5px 10px;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 20px;
}

.right-menu li a:hover,
.right-menu li a.active,
.menu-list li a:hover,
.menu-list li a.active {
    /* background-color:pink; */
    border-radius: 20px;
    color: green;
    transition: all 0.1s ease-in-out;
}

.speedDial {
    position: absolute;
    right: 3vmax;
    top: 1.5vmax;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}



@media screen and (max-width: 1100px) {
    .logo {
        font-size: 2.5rem;
    }

    .menu-list li a {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .navbar1 {
        display: flex;
    }

    .left-menu {
        flex-direction: column;
    }

    .right-menu {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        width: 40%;
    }

    .right-icon li a{
        right: 5vmax;
    }

    .logo {
        font-size: 3rem;
        margin-right: 20px;
    }

    .menu-icon {
        display: block;
        font-size: 2.5rem;
    }

    .menu-list {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        right: 0;
        top: 64px;
        transition: all 0.5s ease-out;
    }

    .menu-list li {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .menu-list li:last-child {
        margin-bottom: 0;
    }

    .menu-list li a,
    .menu-list li:last-child a {
        width: 150px;
        font-size: 2rem;
        display: block;
        margin: auto;
    }

    .close {
        position: fixed;
        right: -100%;
        transition: all 0.5s ease-out;
    }

    .speedDial {
        position: fixed;
        right: 3vmax;
        top: 2.5vmax;
    }

}